
.title-container h1 {
    font-family: 'Roboto', sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 66px;

color: #75B79E;
}
@media (max-width: 614px) {
    .title-container h1 {
 font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
    
    color: #75B79E;
    }
  
}